.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bigContainer {
  width: 95%;
  height: 95%;
  display: flex;
}
.searchInput {
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  height: 30px;
  margin-bottom: 25px;
}

.iconButtons {
  border-radius: 4px;
  margin-left: 200px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-right: 5px;
  background-color: #fff;
  width: 100px;
  &:hover {
    background-color: #f0f0f0;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
    /* width: 105px; */
    /* height: 50px; */
    transition: all 1s ease-out;
  }
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: #3498db;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #f2f2f2;
}

.pagination .active {
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  cursor: default;
}
.more {
  text-align: center;
}
button {
  background-color: slateblue;

  margin-bottom: 20px;
}
.modalTest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
.modalTest1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listItem {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  margin-left: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline;
}

.iconButton:hover {
  background-color: #2077c8;
}
h4 {
  display: inline;
}
.enjuryButton {
  top: 10px;
}
.createCard {
  bottom: 20px;
}
.hhh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  justify-content: center;
}
.bbb {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.jjj {
  background-color: #f3f4f7;
}
.kkk {
  background-color: #e8e9eb;
}
