/* style.module.css


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}


.menu {
  padding-top: 60px;

  height: 100%;
  width: 184px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  overflow-x: hidden;
  transition: 0.5s;
}

.icon {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  color: white;
}


.navbarItems {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.homeItem {
  margin-right: 10px;
}

.active {
  font-weight: bold;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #555;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}


.responsiveNav {
  width: 250px;
} */
/* @media screen and (min-width: 1200px) {
  .button {
    display: none;
  }
} */
