table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.colored-cell {
  background-color: #e6f7ff;
}

input {
  width: 100%;
  box-sizing: border-box;
  /* border: none; */
  border-top: none;
  border-left: none;
  border-right: none;
}
form {
  padding: 50px;
  margin: 50px;
  margin-top: 500px;
  padding-top: 500px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
input {
  width: 100%;
}
h2 {
  color: black;
  padding: 20px 20px;
}
