* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.ant-menu {
  background-color: #2e343d !important;
}
.ant-modal-content {
  overflow-y: scroll !important;
  height: 600px;
}
.ant-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between !important;
}
.ant-table-cell {
  border: none;
}
.ant-table {
  /* box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5); */
  overflow-x: unset;
}
